In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel("D:\\Python basics\CLTV-360\\Online Retail.xlsx")

In [3]:
data.shape

(541909, 8)

In [4]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

we drop null values in customer id

In [6]:
data = data.dropna(subset=['CustomerID'])
data['CustomerID']= data['CustomerID'].astype(str)

In [7]:
data.shape

(406829, 8)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.9+ MB

Handling the 1st column "InvoiceNo"

 InvoiceNo starting with "C" indicates a cancelled order â€” usually a return or refund.

In [9]:
data=data[~data['InvoiceNo'].astype(str).str.startswith('C')]

In [10]:
data.shape

(397924, 8)

Handling 2nd colomn "stockcode"

remove the name like 'POST', 'D', 'M', 'DOT', 'SAMPLES', 'ADJUST', 'B' because they These are not actual products.

In [11]:
non_product_codes = ['POST', 'D', 'M', 'DOT', 'SAMPLES', 'ADJUST', 'B']

data = data[~data['StockCode'].isin(non_product_codes)]
data.shape

(396519, 8)

Handle the 3rd colomn "Description"

In [12]:
data = data.dropna(subset=['Description'])
data.shape

(396519, 8)

Handle Quantity and Unit price

In [13]:
data = data[(data['Quantity']>0)&(data['UnitPrice']>0)]

In [14]:
data.shape

(396485, 8)

Handling invoice date colomn

In [15]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [16]:
data['InvoiceYear'] = data['InvoiceDate'].dt.year
data['InvoiceMonth'] = data['InvoiceDate'].dt.month
data['InvoiceDay'] = data['InvoiceDate'].dt.day
data['InvoiceTime'] = data['InvoiceDate'].dt.strftime('%H:%M')
data['InvoiceWeekDay'] = data['InvoiceDate'].dt.day_name()

'Country' colomn is clear

In [17]:
data.shape

(396485, 13)

we create a new feature like 'TotalPrice' for make sure final price

In [18]:
data['TotalPrice'] = data['Quantity']*data['UnitPrice']
data['TotalPrice']=data['TotalPrice'].round(2)

In [19]:
data.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceTime,InvoiceWeekDay,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1,08:26,Wednesday,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,08:26,Wednesday,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,1,08:26,Wednesday,22.00

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396485 entries, 0 to 541908
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   InvoiceNo       396485 non-null  object
 1   StockCode       396485 non-null  object
 2   Description     396485 non-null  object
 3   Quantity        396485 non-null  int64
 4   InvoiceDate     396485 non-null  datetime64[ns]
 5   UnitPrice       396485 non-null  float64
 6   CustomerID      396485 non-null  object
 7   Country         396485 non-null  object
 8   InvoiceYear     396485 non-null  int32
 9   InvoiceMonth    396485 non-null  int32
 10  InvoiceDay      396485 non-null  int32
 11  InvoiceTime     396485 non-null  object
 12  InvoiceWeekDay  396485 non-null  object
 13  TotalPrice      396485 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(3), int64(1), object(7)
memory usage: 40.8+ MB

In [21]:
data.to_csv('Cleaned_online_retail.csv',index=False)

In [22]:
data.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceTime,InvoiceWeekDay,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1,08:26,Wednesday,15.3